<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.base.mapper.AttestationMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.base.model.Attestation" >
    <constructor >
      <idArg column="a_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="p_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="a_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="a_sfz" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="a_reverse" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="a_front" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="a_message" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="a_state" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    a_id, p_id, a_name, a_sfz, a_reverse, a_front, a_message, a_state
  </sql>
    <resultMap id="listdd" type="com.zking.ssm.base.model.Attestation" >
        <id column="a_id" property="aId" javaType="java.lang.Integer" />
        <result column="p_id" property="pId" javaType="java.lang.String" />
        <result column="a_name" property="aName" javaType="java.lang.String" />
        <result column="a_sfz" property="aSfz" javaType="java.lang.String" />
        <result column="a_reverse" property="aReverse" javaType="java.lang.String" />
        <result column="a_front" property="aFront" javaType="java.lang.String" />
        <result column="a_message" property="aMessage" javaType="java.lang.String" />
        <result column="a_state" property="aState" javaType="java.lang.String" />
        <collection property="user" ofType="com.zking.ssm.base.model.User">
        <id column="p_userid" property="pUserid" javaType="java.lang.String" />
        <result column="p_username" property="pUsername" javaType="java.lang.String" />
        <result column="p_password" property="pPassword" javaType="java.lang.String" />
        <result column="p_invite" property="pInvite" javaType="java.lang.String" />
        <result column="p_status" property="pStatus" javaType="java.lang.Integer" />
        <result column="p_vip" property="pVip" javaType="java.lang.Integer" />
        <result column="p_capital" property="pCapital" javaType="java.lang.Double" />
        <result column="p_usable" property="pUsable" javaType="java.lang.Double" />
        <result column="p_credit" property="pCredit" javaType="java.lang.Double" />
        </collection>
    </resultMap>


  <select id="selectByPrimaryKey"  resultMap="listdd" parameterType="java.lang.Integer" >
      SELECT * FROM  p_attestation b join    p_user  a  where b.a_id = #{aId,jdbcType=INTEGER}
  </select>
  <resultMap id="listatt" type="com.zking.ssm.base.model.Attestation" >
      <id column="a_id" property="aId" javaType="java.lang.Integer" />
      <result column="p_id" property="pId" javaType="java.lang.String" />
      <result column="a_name" property="aName" javaType="java.lang.String" />
      <result column="a_sfz" property="aSfz" javaType="java.lang.String" />
      <result column="a_reverse" property="aReverse" javaType="java.lang.String" />
      <result column="a_front" property="aFront" javaType="java.lang.String" />
      <result column="a_message" property="aMessage" javaType="java.lang.String" />
      <result column="a_state" property="aState" javaType="java.lang.String" />
     <collection property="user" ofType="com.zking.ssm.base.model.User">

       <id column="p_userid" property="pUserid" javaType="java.lang.String" />
      <result column="p_username" property="pUsername" javaType="java.lang.String" />
      <result column="p_password" property="pPassword" javaType="java.lang.String" />
      <result column="p_invite" property="pInvite" javaType="java.lang.String" />
      <result column="p_status" property="pStatus" javaType="java.lang.Integer" />
      <result column="p_vip" property="pVip" javaType="java.lang.Integer" />
      <result column="p_capital" property="pCapital" javaType="java.lang.Double" />
      <result column="p_usable" property="pUsable" javaType="java.lang.Double" />
      <result column="p_credit" property="pCredit" javaType="java.lang.Double" />

    </collection>
  </resultMap>

    <select id="list"  resultMap="listatt" parameterType="com.zking.ssm.base.model.Attestation">
    SELECT * FROM p_attestation b   join  p_user  a where 1=1
    <if test="aName != null">
        <if test="aName != ''">
            AND b.a_name LIKE concat('%',#{aName,jdbcType=VARCHAR},'%')
        </if>

    </if>




    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from p_attestation
    where a_id = #{aId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm.base.model.Attestation" >
    insert into p_attestation ( p_id, a_name,
      a_sfz, a_reverse, a_front, 
      a_message, a_state)
    values (#{pId,jdbcType=VARCHAR}, #{aName,jdbcType=VARCHAR},
      #{aSfz,jdbcType=VARCHAR}, #{aReverse,jdbcType=VARCHAR}, #{aFront,jdbcType=VARCHAR}, 
      #{aMessage,jdbcType=VARCHAR}, #{aState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm.base.model.Attestation" >
    insert into p_attestation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        a_id,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="aName != null" >
        a_name,
      </if>
      <if test="aSfz != null" >
        a_sfz,
      </if>
      <if test="aReverse != null" >
        a_reverse,
      </if>
      <if test="aFront != null" >
        a_front,
      </if>
      <if test="aMessage != null" >
        a_message,
      </if>
      <if test="aState != null" >
        a_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="aName != null" >
        #{aName,jdbcType=VARCHAR},
      </if>
      <if test="aSfz != null" >
        #{aSfz,jdbcType=VARCHAR},
      </if>
      <if test="aReverse != null" >
        #{aReverse,jdbcType=VARCHAR},
      </if>
      <if test="aFront != null" >
        #{aFront,jdbcType=VARCHAR},
      </if>
      <if test="aMessage != null" >
        #{aMessage,jdbcType=VARCHAR},
      </if>
      <if test="aState != null" >
        #{aState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.base.model.Attestation" >
    update p_attestation
    <set >
      <if test="pId != null" >
        p_id = #{pId,jdbcType=VARCHAR},
      </if>
      <if test="aName != null" >
        a_name = #{aName,jdbcType=VARCHAR},
      </if>
      <if test="aSfz != null" >
        a_sfz = #{aSfz,jdbcType=VARCHAR},
      </if>
      <if test="aReverse != null" >
        a_reverse = #{aReverse,jdbcType=VARCHAR},
      </if>
      <if test="aFront != null" >
        a_front = #{aFront,jdbcType=VARCHAR},
      </if>
      <if test="aMessage != null" >
        a_message = #{aMessage,jdbcType=VARCHAR},
      </if>
      <if test="aState != null" >
        a_state = #{aState,jdbcType=VARCHAR},
      </if>
    </set>
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm.base.model.Attestation" >
    update p_attestation
    set p_id = #{pId,jdbcType=VARCHAR},
      a_name = #{aName,jdbcType=VARCHAR},
      a_sfz = #{aSfz,jdbcType=VARCHAR},
      a_reverse = #{aReverse,jdbcType=VARCHAR},
      a_front = #{aFront,jdbcType=VARCHAR},
      a_message = #{aMessage,jdbcType=VARCHAR},
      a_state = #{aState,jdbcType=VARCHAR}
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateatt" parameterType="com.zking.ssm.base.model.Attestation">

    UPDATE p_attestation
      <set >
          <if test="aMessage != null" >
              a_message = #{aMessage,jdbcType=VARCHAR},
          </if>
          <if test="aState != null" >
              a_state = #{aState,jdbcType=VARCHAR},
          </if>
      </set>
     WHERE a_id=#{aId,jdbcType=INTEGER}

  </update>
</mapper>