<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.base.mapper.DiscussMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.base.model.Discuss" >
    <constructor >
      <idArg column="d_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="d_p_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="d_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="d_content" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    d_id, d_p_id, d_time, d_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from discuss
    where d_id = #{dId,jdbcType=INTEGER}
  </select>
  <resultMap id="listmap" type="com.zking.ssm.base.model.Discuss" >
      <id column="d_id" property="dId" javaType="java.lang.Integer" />
      <result column="d_p_id" property="dPId" javaType="java.lang.String" />
      <result column="d_time" property="dTime" javaType="java.util.Date" />
      <result column="d_content" property="dContent" javaType="java.lang.String" />
      <collection property="user" ofType="com.zking.ssm.base.model.User">
        <id column="p_userid" property="pUserid" javaType="java.lang.String" />
        <result column="p_username" property="pUsername" javaType="java.lang.String" />
        <result column="p_password" property="pPassword" javaType="java.lang.String" />
        <result column="p_invite" property="pInvite" javaType="java.lang.String" />
        <result column="p_status" property="pStatus" javaType="java.lang.Integer" />
        <result column="p_vip" property="pVip" javaType="java.lang.Integer" />
        <result column="p_capital" property="pCapital" javaType="java.lang.Double" />
        <result column="p_usable" property="pUsable" javaType="java.lang.Double" />
        <result column="p_credit" property="pCredit" javaType="java.lang.Double" />

      </collection>
  </resultMap>

    <select id="list" resultMap="listmap" parameterType="com.zking.ssm.base.model.Discuss">
      SELECT * FROM discuss  a JOIN p_user b  on a.d_p_id=b.p_userid WHERE 1=1
       <if test="dContent !=null and dContent !=''">
         and  a.d_content like concat('%',#{dContent,jdbcType=VARCHAR},'%')
       </if>


    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from discuss
    where d_id = #{dId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm.base.model.Discuss" >
    insert into discuss (d_id, d_p_id, d_time, 
      d_content)
    values (#{dId,jdbcType=INTEGER}, #{dPId,jdbcType=VARCHAR}, #{dTime,jdbcType=TIMESTAMP}, 
      #{dContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm.base.model.Discuss" >
    insert into discuss
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dId != null" >
        d_id,
      </if>
      <if test="dPId != null" >
        d_p_id,
      </if>
      <if test="dTime != null" >
        d_time,
      </if>
      <if test="dContent != null" >
        d_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dId != null" >
        #{dId,jdbcType=INTEGER},
      </if>
      <if test="dPId != null" >
        #{dPId,jdbcType=VARCHAR},
      </if>
      <if test="dTime != null" >
        #{dTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dContent != null" >
        #{dContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.base.model.Discuss" >
    update discuss
    <set >
      <if test="dPId != null" >
        d_p_id = #{dPId,jdbcType=VARCHAR},
      </if>
      <if test="dTime != null" >
        d_time = #{dTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dContent != null" >
        d_content = #{dContent,jdbcType=VARCHAR},
      </if>
    </set>
    where d_id = #{dId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm.base.model.Discuss" >
    update discuss
    set d_p_id = #{dPId,jdbcType=VARCHAR},
      d_time = #{dTime,jdbcType=TIMESTAMP},
      d_content = #{dContent,jdbcType=VARCHAR}
    where d_id = #{dId,jdbcType=INTEGER}
  </update>
</mapper>